html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

.container{
  flex: 1;
  text-align: left;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

h3, h4, h5, h6{
  line-height: 1.5;
  font-weight: 400;
  margin: 20px 0 10px;
  color: rgba(51,51,51,.9);
}

h3{
  font-size: 30px;
  margin-bottom: 25px;
  margin-top: 20px;
}

h4{
  margin-top: 25px;
  font-size: 20px;
}

h5{
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.container{
  padding-top: 25px;
}

code{
  display: block;
  font-size: 13px;
  overflow-x: auto;
  font-weight: 400;
  line-height: 22px;
  border-radius: 3px;
  margin-bottom: 25px;
  position: relative;
  word-break: break-all;
  white-space: pre-wrap;
  background-color: #f5f7fa;
  color: #455a64;
  padding: 18px 10px 18px 20px;
  font-family: Source Code Pro,Monaco,Inconsolata,monospace;
}

code{
  background: #f8f8f8;
  padding: 18px 10px 18px 20px;
}

.align-left{
  text-align: left;
}

.hljs{
  background: #f8f8f8;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 16px;
  table-layout: fixed;
  background-color: #fff
}

.table td,.table th {
  padding: 8px;
  vertical-align: top;
  border: 1px solid #eee;
  text-align: left;
  color: #656b79
}

.table th {
  font-weight: 400;
  padding: 8px;
  background-color: #f4f5f7
}

.table .table-center,.table .table-center td,.table .table-center th {
  text-align: center
}

.table-interleave tr:nth-child(2n) td {
  background-color: #fafafa
}

section{
  a{
    text-decoration: none;
  }

  p{
    margin: 15px 0;
    font-size: 14px;
    line-height: 20px;
    color: #666;
  }

  li{
    list-style-type: circle;
    margin-left: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    margin-top: 10px;
  }
}

